<ion-header>
</ion-header>

<ion-content class="background">
  <div style="float: right;">
    <ion-button fill="clear" (click) = "goBack()">
      Close
    </ion-button>
  </div>
  <ion-img style="width: 150px; height: 150px; align-items: center; margin: auto;" src="../assets/icon/logo.jpeg"></ion-img>
  <ion-title text-wrap>
    Login to access this feature
  </ion-title>
  <ion-grid>
    <ion-row class="row" (click) = "goToLogin()">
      <ion-button style="width: 85%; margin: auto; align-items: center;">Login</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
