ion-header {
    ion-toolbar {
        ion-searchbar {
            border-radius: 50px;
            width: 100%;
         }
    }
}

ion-slides {
    height: 30%;
}

.sub-headers {
    padding-left: 8px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

ion-slides {
    height: 78%;
    width: 100%;
}

#category-grid {
    text-align: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}

.icon-label {
    font-size: 15px;
}

.categoryButton {
    background-color: transparent;
}