<ion-header>
  <ion-toolbar color='primary'>
  <ion-searchbar (ionChange) = "_ionChange($event)"></ion-searchbar>
  <ion-buttons slot="primary">
    <ion-button (click) = "clickFavourites()" style="font-size: 25px;" fill="solid" color="primary">
      <ion-icon name="heart-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="this.searchVal == ''">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
          <ion-img src="../assets/icon/food1.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="../assets/icon/shopping.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="../assets/icon/children.png"></ion-img>
      </ion-slide>
    </ion-slides>
  <div>

    <ion-grid id="category-grid">
      <ion-row >
        <p class="sub-headers">Category</p>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click) = "moveToViewCategory(1)" >
              <ion-img class="icon" src="../assets/icon/food.png"></ion-img>
              <ion-label class="icon-label">F&B</ion-label>
            </div>
        </ion-col>
        <ion-col>
          <div (click) = "moveToViewCategory(11)" >
            <ion-img class="icon" src="../assets/icon/shopping.png"></ion-img>
            <ion-label class="icon-label">Shopping</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div (click) = "moveToViewCategory(9)">
            <ion-img class="icon" src="../assets/icon/massage.png"></ion-img>
            <ion-label class="icon-label">Massage</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div (click) = "moveToViewCategory(4)">
          <ion-img class="icon" src="../assets/icon/leisure.png"></ion-img>
          <ion-label class="icon-label">Leisure</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img class="icon" src="../assets/icon/kids.png"></ion-img>
          <ion-label class="icon-label">Kids</ion-label>
        </ion-col>
        <ion-col>
          <div (click) = "moveToViewCategory(2)">
          <ion-img class="icon" src="../assets/icon/beauty.png"></ion-img>
          <ion-label class="icon-label">Beauty</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div (click) = "moveToViewCategory(5)">
          <ion-img class="icon" src="../assets/icon/fitness.png"></ion-img>
          <ion-label class="icon-label">Fitness</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <ion-img class="icon" src="../assets/icon/other.png"></ion-img>
          <ion-label class="icon-label">Others</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="sub-headers">Deals Available</p>
        </ion-col>
        <ion-col>
          <ion-button (click) = "clickFilter()" style="font-size: 15px; float:right;" fill="clear" color="primary">
            <ion-icon name="filter-outline"></ion-icon>
          </ion-button>
          <ion-select (ionChange)="filterDeals($event)" multiple="true" [(ngModel)] = "selectedTags" #mySelect>
            <ion-select-option [value]="tags.tagId" *ngFor="let tags of allTags"> {{tags.name}} </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="selectedTagsDeals.length != 0" style="margin-top: -20px;" >
      <ion-list *ngFor="let deal of selectedTagsDeals; let i = index">
        <ion-item (click) = "goToDealMain(i)">
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <h3>{{deal.dealName}}</h3>
            <p>{{deal.business.name}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="selectedTagsDeals.length == 0">
      <h3 style="text-align: center;">No available filter results</h3>
    </div>
  </div>
</div>
<div *ngIf="this.searchVal != ''">
  <ion-item-divider color="grey">Search result:</ion-item-divider>
  <ion-list *ngFor="let deal of searchedDeals; let i = index">
    <ion-item *ngIf = "this.searchedDeals.length > 0" (click) = "goToDeal(i)">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>{{deal.dealName}}</ion-label>
    </ion-item>
  </ion-list>

  <div style="text-align: center;display: block; margin-left: auto; margin-right: auto " *ngIf = "this.searchedDeals.length == 0">
    <h3>No available results</h3>
  </div>
</div>

</ion-content>
