<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Account Management</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-card-content>
      Welcome {{customer.firstName}}
  </ion-card-content>
  <ion-list>
  <ion-item button (click)="viewAccountInfo()">
    <ion-label>View Account Information</ion-label>
  </ion-item>
  <ion-item button (click)="viewPurchaseHistory()">
    <ion-label>View Purchase History</ion-label>
  </ion-item>
  <ion-item button (click)="register()">
    <ion-label>View E-wallet</ion-label>
  </ion-item>
  <ion-item button (click)="register()">
    <ion-label>Redeem Deals</ion-label>
  </ion-item>

  <ion-button color="danger" expand="block" (click)="customerLogout()">Logout</ion-button>

</ion-list>

</ion-content>
