<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sessionService.getIsLogin() == true">
  &nbsp;

  <ion-list>
    <ion-item button (click)="viewAccountInfo()">
      <ion-label>View Account Information</ion-label>
    </ion-item>
    <ion-item button (click)="viewAllRedeemables()"> 
      <ion-label>View Redeemables</ion-label>
    </ion-item>
    <ion-item button (click)="viewPurchaseHistory()">
      <ion-label>View Purchase History</ion-label>
    </ion-item>
    <ion-item button (click)="topUpEwallet()">
      <ion-label>Top up E-Wallet</ion-label>
    </ion-item>

    <ion-button color="danger" expand="block" (click)="customerLogout()">Logout</ion-button>

  </ion-list>

</ion-content>


